
        <div class="card mb-4 m-2" style="width: 28rem;">
            <img src="http://localhost:8090/{{project.image}}" class="card-img-top" alt="Project Image">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Status: {{ project.status }}</li>
                <li class="list-group-item">Start Date: {{ project.startDate }}</li>
                <li class="list-group-item">End Date: {{ project.endDate }}</li>
                <li class="list-group-item">Team Size: {{ project.teamSize }}</li>
            </ul>
        </div>